
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/extra.css">
    <title>Выбор движения</title>
  </head>

  <body>
  <h1>Ручное определение движения</h1>

<div class="tab">
   <p>Для следующих 45 дней движение определяется вручную на основании сформированного рейтинга</p>
   <table border="1">
   <tr>
    <th>С куста</th>
    <th>На куст</th>
    <th>Общий рейтинг</th>
    <th>Рейтинг грузоподъемности</th>
    <th>Рейтинг 1 этапа</th>
    <th>Рейтинг 2 этапа</th>
    <th>Рейтинг РУО</th>
    <th>Рейтинг транспортировки</th>
   </tr>
   <tbody>
      <tr>
         <td scope="row">355у</td>
         <td>863</td>
         <td>95</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>5</td>
      <tr>
         <tr>
         <td scope="row">355у</td>
         <td>863</td>
         <td>95</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>5</td>
      <tr>
         <tr>
         <td scope="row">355у</td>
         <td>863</td>
         <td>95</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>5</td>
      <tr>
         <tr>
         <td scope="row">355у</td>
         <td>863</td>
         <td>95</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>5</td>
      <tr>
         <tr>
         <td scope="row">355у</td>
         <td>863</td>
         <td>95</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>5</td>
      <tr>
         <tr>
         <td scope="row">355у</td>
         <td>863</td>
         <td>95</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>5</td>
      <tr>
         <tr>
         <td scope="row">355у</td>
         <td>863</td>
         <td>95</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>5</td>
      <tr>
         <tr>
         <td scope="row">355у</td>
         <td>863</td>
         <td>95</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>5</td>
      <tr>
         <tr>
         <td scope="row">355у</td>
         <td>863</td>
         <td>95</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>5</td>
      <tr>
         <tr>
         <td scope="row">355у</td>
         <td>863</td>
         <td>95</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>5</td>
      <tr>
         <tr>
         <td scope="row">355у</td>
         <td>863</td>
         <td>95</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>10</td>
         <td>5</td>
      <tr>

   </tbody>
  </table>
   <form action="/home">
     <button><b>Основная страница</b></button>
   </form>
   <p>Движение остальных БУ определится автоматически по максимальному рейтингу</p>

</div>


  </body>
</html>
